* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Century Gothic', 'Questrial', 'Roboto', 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    outline: none;
}
