* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans', 'Open Sans', 'Century Gothic', 'Questrial', 'Roboto', 'Segoe UI', Arial, sans-serif;
    font-weight: 200;
    outline: none;
}

body {
    overflow: hidden;
}

code {
    font-family: 'Consolas', monospace;
    font-size: 11pt;
    line-height: 11pt;
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 5fr;
    grid-template-rows: 50px calc(100vh - 100px) 50px;

    grid-template-areas: 'toolbar toolbar' 'filetree viewer' 'statusbar statusbar';
}

.panel.dir_explorer {
    grid-area: filetree;
}

.panel.tabs {
    grid-area: viewer;
    display: grid;
    grid-template-rows: 30px auto;
}

.panel.tabs .tab button, .panel.tabs .tab .tab_header {
    position: relative;
    display: block;
    float: left;
}

.tab-bar {
    grid-row: 1;
    width: 100%;
    line-height: 30px;
}

.view_container {
    overflow: auto;
}

.view, .view_container {
    position: relative;
    grid-row: 2;
    width: 100%;
    max-width: 100%;
    padding: 10px;
}

.view_container * ul li {
    margin-left: 30px;
}

.view_container > * {
    height: 100%;
    width: 100%;
    max-width: 100%;
    /* overflow: auto; */
}

.tool-bar {
    grid-area: toolbar;
}

.status-bar {
    grid-area: statusbar;
}

.view:not(.active) {
    display: none;
}

.code.view.active {
    display: grid;
    grid-template-columns: 50px auto;
    user-select: text;
    /* overflow: hidden; */
}
.text.view * {
    font-family: 'Consolas', monospace;
    color: #540878;
}
.text.view textarea {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    border: none;
    resize: none;
    word-wrap:normal;
}

.gutter {
    grid-column: 1;
    font-size: 11pt;
}
.editor_direct {
    /* font-size: 11pt; */
    font-family: "consolas", monospace;
    display: block;
    /* position: relative; */
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    resize: none;
    grid-column: 2;
}

.editor_direct * {
    /* overflow: auto; */
    font-family: inherit;
}

pre {
    all: initial !important;
}

iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
}