* {
    box-sizing: border-box;
    user-select: none;
}

.view_container {
    border: 1px solid #999;
    margin-top: -1px;
    margin-left: -5px;
    /* border-right: none; */
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #999;
}

@font-face {
    font-family: FontAwesome;
    src: url(/css/fonts/fa.otf);
}
.uibox.display_area {
    z-index: 100000;
}
.uibox.menu.wrapper {
    display: block;
    position: absolute;
    width: auto;
    padding: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-radius: 10px !important;
    font-size: 11pt !important;
    min-width: 200px !important;
    background: #f6f6f6 !important;
    box-shadow: 0 0 3px 0 #aaa;
}

.uibox.menu.option {
    font-weight: normal !important;
    width: 100%;
    all: initial;
    display: block;
    font-family: inherit;
    padding: 0;
    font-size: 10pt;
    margin: 2px 0 2px 0;
}

.uibox.menu.option.caption {
    /* all: initial; */
    padding: 2px;
    padding-left: 10px;
}

.uibox.menu.option:hover {
    background: #4c82ca !important;
    /* width: 100%; */
    display: block;
    color: #eee;
}

.uibox.menu hr {
    margin-top: 3px;
    margin-bottom: 3px;
}

.FA {
    font-family: FontAwesome;
}

.uibox.display_area {
    position: fixed;
    top: 0;
}

.uibox.box.wrapper {
    display: block !important;
    background: #eee;
    padding: 5px;
    border-radius: 10px;
    width: 450px;
    padding-top: 25px;
    border-top: 4px solid #9005af;
    position: fixed;
    left: 50%;
    box-shadow: 0 0 7px 0 #aaa;
    transform: translate(-50%);
    z-index: 100000 !important;

    animation: 0.4s slideIn ease;
}

.uibox.box.wrapper .buttons button {
    min-width: 120px;
    border: none;
    background: #9005af;
    color: #ddd;
    font-weight: normal;
    padding: 5px;
    font-family: Helvetica;
    border-radius: 4px;
    border: 2px solid #9005af;
    margin: 3px;
    /* position: relative;
    left: calc(100% - 450px); */
}
.uibox.box.wrapper .buttons {
    width: 100%;
    display: block;
    text-align: right;
}

.uibox.box.wrapper .header {
    width:  100%;
    padding-left: 10px;
    font-size: 15pt;
}

.uibox.box.wrapper .content {
    padding: 20px;
}

@keyframes slideIn {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

input {
    background: transparent;
    border: 1px solid #9005af;
    padding: 5px;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-top: 5px;
}

pre.editor_direct {
    margin-left: 40px !important;
}
pre.editor_direct *:before {
    padding-right: 5px;
    font-family: 'Courier New';
}

pre code {
    width: 100%;
    height: 100% !important;
}
.view {
    cursor: text !important;
    overflow:auto;
}

button {
    cursor: pointer;
}

em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

.page blockquote {
    background: #eee;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-top: 7px;
    border-left: 10px solid #ccc;
}

.page code, .page pre {
    color: #333;
    border: 1px solid #ccc;
    background: #eee;
    padding: 4px;
    position:relative;
    top: 20px;
    border-radius: 3px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}


h3 {
    font-size: 1.17em;
}

h4 {
    font-size: initial;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

input[type="range"] {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    margin: 20px 0 10px 0;
}
input[type=range]::-webkit-slider-thumb {
    /*border-radius: inherit !important;*/
    -webkit-appearance: none;
    background: #fff;
    color: #fff;
    border: 1px solid purple;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    margin-top: -8px;
    cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
    border-collapse: collapse;
    width: 100%;
    border: 0.5px solid purple;
    height: 0 !important;
}