* {
    box-sizing: border-box;
    user-select: none;
}

.view_container {
    border: 1px solid #999;
    margin-top: -1px;
    margin-left: -5px;
    /* border-right: none; */
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
	background-color: transparent;

}

*::-webkit-scrollbar-thumb {
	background-color: #999;
}

@font-face {
    font-family: FontAwesome;
    src: url(/css/fonts/fa.otf);
}

.uibox.menu.wrapper {
    display: block;
    position:absolute;
    width: auto;
    padding: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 10px !important;
    font-size: 11pt !important;
    min-width: 200px !important;
    background: #f6f6f6 !important;
}
.uibox.menu.option {
    font-weight: normal !important;
    width: 100%;
    all: initial;
    display: block;
    font-family: inherit;
    padding: 0;
    font-size: 10pt;
    margin: 2px 0 2px 0;
}

.uibox.menu.option.caption {
    /* all: initial; */
    padding: 2px;
    padding-left: 10px;
}

.uibox.menu.option:hover {
    background: #4c82ca !important;
    /* width: 100%; */
    display: block;
    color: #eee;
}

.uibox.menu hr {
    margin-top:3px;
    margin-bottom:3px;
}
